<!-- <p>view-users works!</p>
<div *ngIf="listUsers.result">
    {{listUsers.result[0].cus_fname}}
</div> -->
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="p-3 content-wrapper" style="min-height: 214px">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="['/cus/list']">ตารางนักเรียน</a>
            </li>
            <li class="breadcrumb-item active">รายละเอียด</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <!-- <img class="profile-user-img img-fluid img-circle" src="" alt="User profile picture"> -->
              </div>

              <h3 class="profile-username text-center" *ngIf="listUsers.result">
                น้อง {{ listUsers.result[0].cus_nname }}
              </h3>

              <p class="text-muted text-center" *ngIf="listUsers.result">
                {{ listUsers.result[0].cus_fullname }}
              </p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>รหัส</b>
                  <a class="float-right" *ngIf="listUsers.result">{{
                    listUsers.result[0].cus_id
                  }}</a>
                </li>
                <li class="list-group-item">
                  <b>เบอร์โทร</b>
                  <a class="float-right" *ngIf="listUsers.result">{{
                    listUsers.result[0].cus_tel
                  }}</a>
                </li>
                <li class="list-group-item">
                  <b>ชั้น</b>
                  <a class="float-right" *ngIf="listUsers.result">{{
                    listUsers.result[0].class_name
                  }}</a>
                </li>
                <li class="list-group-item">
                  <b>โรงเรียน</b>
                  <a class="float-right" *ngIf="listUsers.result">{{
                    listUsers.result[0].school_name
                  }}</a>
                </li>
              </ul>

              <a [routerLink]="['/cus/list']" class="btn btn-primary btn-block"
                ><b>Back</b></a
              >
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->

          <!-- /.card -->
        </div>
        <!-- /.col -->

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>
<app-footer></app-footer>
