<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="p-3 content-wrapper" style="min-height: 214px">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>เพิ่มชั้นเรียน</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a>เพิ่มชั้นเรียน</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Form</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form [formGroup]="addUserForm" (submit)="createUser()">

                <div class="form-group">
                  <label for="text">ชื่อชั้น</label>
                  <input
                    formControlName="class_name"
                    type="text"
                    class="form-control"
                    
                    
                    name="text"
                  />
                </div>

                <button type="submit" class="btn btn-primary" (click)="alertWithSuccess()">ยืนยัน</button>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
