<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="p-3 content-wrapper" style="min-height: 214px">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>เพิ่มคอร์สเรียน</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a>เพิ่มคอร์สเรียน</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Form</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form [formGroup]="addUserForm" (submit)="createUser()">
                <div class="form-group">
                  <label for="text">ประเภทวิชา</label>
                  <div class="input-group mb-3">
                    <select
                      class="form-control"
                      formControlName="cate_id"
                      name="cate_id"
                    >
                      <option
                        *ngFor="let cate of listCate.result"
                        [value]="cate.cate_id"
                      >
                        {{ cate.cate_name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="text">ระบบการเรียน</label>
                  <div class="input-group mb-3">
                    <select
                      class="form-control"
                      formControlName="system_id"
                      name="system_id"
                    >
                      <option
                        *ngFor="let system of listSystem.result"
                        [value]="system.system_id"
                      >
                        {{ system.system_name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="text">วิชา</label>
                  <div class="input-group mb-3">
                    <select
                      class="form-control"
                      formControlName="subject_id"
                      name="subject_id"
                    >
                      <option
                        *ngFor="let subject of listSubject.result"
                        [value]="subject.subject_id"
                      >
                        {{ subject.subject_name }}
                      </option>
                    </select>
                  </div>
                </div>


                <div class="form-group">
                    <label for="text">ระดับชั้น</label>
                    <div class="input-group mb-3">
                      <select
                        class="form-control"
                        formControlName="class_id"
                        name="class_id"
                      >
                        <option
                          *ngFor="let class of listClass.result"
                          [value]="class.class_id"
                        >
                          {{ class.class_name }}
                        </option>
                      </select>
                    </div>
                  </div>

                <div class="form-group">
                  <label for="text">ราคาคอร์ส</label>
                  <input
                    formControlName="course_price"
                    type="text"
                    class="form-control"
                    name="course_price"
                  />
                </div>

                <div class="form-group">
                    <label for="text">ราคาหนังสือ</label>
                    <input
                      formControlName="course_bookprice"
                      type="text"
                      class="form-control"
                      name="course_bookprice"
                    />
                  </div>

                  <div class="form-group">
                    <label for="text">รวม</label>
                    <input
                      formControlName="course_total"
                      type="text"
                      class="form-control"
                      name="course_total"
                    />
                  </div>

                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="alertWithSuccess()"
                >
                  ยืนยัน
                </button>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
